@define-mixin OpenSans $size {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: $(size);
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
